body {
	background: whitesmoke;
}
h1 {
	text-align: center; 
	font-size: 35px;
}
ul {
	list-style: none;
	margin: 0;
	padding-left: 0px;
	margin-top: 25px;
	background: darkgrey;
	height: 50px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  background-color: black;
}
nav li {
  flex: 1;
  display: flex;
}
a {
	text-decoration: none;
	background: darkgrey;
	color: black;
	padding: 0px 15px;
	font-family: arial;
	line-height: 50px;
	display: block;
	border-right: 1px solid ;
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  padding: 0 10px;
}
nav a:hover {
  background-color: darkred;
}
li {
	float: left;
	position: relative;
}
	li > ul {
		position: absolute;
		top: 25px;
		display: none;
	}
	li:hover > ul {
		display: block;
		width: 333px;
	}
	li:hover > ul > li {
		float: none;
	}
.active {
	background-color: darkred;
	color: black;
}
h2 {
	font-size: 30px;
}
h6 {
	text-align: center; 
	font-size: 13px;
}
h4 {
	font-size: 20px;
}
.current {
	list-style: none;
	color: black; 
	font-size: 19px;
	background: darkred;
}
.other {
	list-style: none;
	color: black; 
	font-size: 17px;
}
h3 {
	font-size: 20px;
}
.syt {
	font-size: 15px;
}
.menu-main p:hover {
    box-shadow: 10px pink;
    cursor: pointer;